<h1><%= @collection.title %></h1>
<p><%= @collection.description %></p>
<% @collection.images.each do |image| %>
  <%= render image %>
<% end %>
<br>
<%= link_to 'Add an image', new_collection_image_path(@collection), class: 'btn btn-lg btn-primary' %>
