<!-- <div class="photobox">
  <a href="images/sad.jpg" data-lightbox="Caroline" data-title="Sad Caroline">
    <img src="images/sad.jpg" alt="This is sad Caroline."/>
  </a>
  <p class="photoComment">Sad Caroline</p>
</div> -->

<div class="photobox">
  <%= image_tag image.source_url %>
  <p><%= image.description %></p>
</div>