<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a>Hello, admin</a></li>
    <li><%= link_to 'home', root_url %></li>
  </ul>
  <h3 class="text-muted">Ruzium</h3>
  <hr>
</div>